.account-image {
    width: 18%;
    height: auto; 
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    float: left;
  }

  .user-info {
    display: flex;
    align-items: baseline;
    gap: 10px; 
    position: relative;
    top: 25%;
    color: white; 
  }

  .reports-table {
    clear: both;
    width: 100%;
    position: relative;
    margin-top: 30%;
    margin-left: 5%;
    color: white;
  }

  .reports-table th, .reports-table td {
    border-right: 1px solid white;
    padding: 10px;
  }
  
  .reports-table th:last-child, .reports-table td:last-child {
    border-right: none;
  }

  .table-heading {
    background-color: #1a1a1a87;
    color: white;
    font-size: 20px;
    padding: 10px;
    width: 200%;
  }

  @media (max-width: 600px) {
    .account-image {
      width: 18%;
      margin-top: 25%;
      margin-left: 5%;
      float: none;
    }
  
    .user-info {
      margin-left: 5%;
      top: 25px;
    }

    .reports-table {
        clear: both;
        width: 80%;
        position: relative;
        margin-top: 30%;
        margin-left: 5%;
        color: white;
      }
  }