.account-image {
    width: 18%;
    height: auto; 
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5%;
    float: left;
  }

  .user-info {
    display: flex;
    align-items: baseline;
    gap: 10px; 
    position: relative;
    top: 25%;
    color: white; 
  }

  @media (max-width: 600px) {
    .account-image {
      width: 18%;
      margin-top: 25%;
      margin-left: 5%;
      float: none;
    }
  
    .user-info {
      margin-left: 5%;
      top: 25px;
    }
  }