.main-box {
    background-color: rgba(72, 71, 71, 0.5);
    width: 50%; /* adjust as needed */
    height: auto; /* adjust as needed */
    border-radius: 25px; /* adjust as needed */
}

.small-input {
    width: 100%;
}

.left-align {
    text-align: left;
}

.white-text {
    color: white;
}

.move-left {
    margin-right: 0%;
    border-radius: 5%;
}

.signup-logo {
    border-radius: 5%
  }

.d-flex.flex-column.justify-content-center.align-items-center.signup {
    width: 50%; /* Adjust this value as needed */
  }

@media (max-width: 768px) {
    .main-box {
        background-color: rgba(72, 71, 71, 0.5);
        width: 80%; /* adjust as needed */
        height: 500px; /* adjust as needed */
        border-radius: 25px; /* adjust as needed */
    }
    

  }




